td.Halted {
	background-color: #9999FF;
}
td.Configured {
	background-color: #FFFF44;
}
td.Enabled {
	background-color: #99FF99;
}
td.Running {
	background-color: #99FF99;
}
td.Failed {
	color: #FFFFFF;
	background-color: #000000;
	text-decoration: blink;
}
/* vim: set sw=4 ts=4: */
