.Halted, .halted {
	background-color: #9999FF;
}
.Configured, .configured {
	background-color: #FFFF44;
}
.Ready, .ready {
	background-color: #FFFF44;
}
.Enabled, .enabled {
	background-color: #99FF99;
}
.Running, .running {
	background-color: #99FF99;
}
.Suspended, .suspended {
	background-color: #99CC66;
}
.Error, .error {
	background-color: #FF9999;
}
.UNKNOWN, .Unknown, .unknown {
	background-color: #FF9999;
}
.Failed {
	color: #FFFFFF;
	background-color: #000000;
	text-decoration: blink;
}
/* vim: set sw=4 ts=4: */
