/* CSS Stylesheet for FEDApps software */

body {
	background-color: #999;
}

div.title {
	width: 80%;
	margin: 20px auto 20px auto;
	text-align: center;
	color: #000;
	font-size: 16pt;
	font-weight: bold;
}

div.expert_names {
	width: 80%;
	margin: 2px auto 2px auto;
	text-align: center;
}

fieldset.header {
	width: 95%;
	margin: 5px auto 5px auto;
	padding: 2px 2px 2px 2px;
	border: 2px solid #555;
	background-color: #FFF;
}

fieldset.footer {
	width: 25%;
	margin: 20px auto 5px auto;
	padding: 2px 2px 2px 2px;
	font-size: 70%;
	font-style: italic;
	text-align: center;
	background-color: #000;
	opacity: 0.7;
	color: #FFF;
	border: 1px solid #FFF;
}

fieldset.fieldset, fieldset.normal, fieldset.expert {
	width: 90%;
	margin: 10px auto 10px auto;
	padding: 2px 2px 2px 2px;
	border: 2px solid #555;
	background-color: #FFF;
	clear: both;
}

fieldset.expert {
	background-color: #000;
	color: #FFF;
	border: 2px #C00;
}

fieldset.fieldset div.legend, fieldset.normal div.legend, fieldset.expert div.legend {
	width: 100%;
	padding-left: 20px;
	margin-bottom: 10px;
	color: #00D;
	font-size: 12pt;
	font-weight: bold;
}

fieldset.expert div.legend {
	color: #CCF;
}

.openclose {
	border: 1px solid #000;
	padding: 0px;
	cursor: pointer;
	font-family: monospace;
	color: #000;
	background-color: #FFF;
}

table.data {
	border-width: 0px;
	border-collapse: collapse;
	margin: 5px auto 5px auto;
	font-size: 9pt;
}

table.data tr.header {
	font-weight: bold;
}

table.data td {
	padding: 1px 8px 1px 8px;
}

.Halted, .Enabled, .Configured, .Failed, .Unknown, .Indefinite {
	font-family: monospace;
}

.Halted {
	color: #900;
}

.Enabled {
	color: #090;
}

.Configured {
	color: #009;
}

.Failed {
	background-color: #F33;
	color: #000;
	font-weight: bold;
}

.Unknown, .Indefinite {
	color: #999;
}

.error, .error_black, .warning, .caution, .ok, .bad, .questionable, .killed, .undefined, .none {
	color: #000;
	font-family: monospace;
}

.error {
	background-color: #F33;
	font-weight: bold;
}

.error_black {
	color: #F00;
	font-weight: bold;
}

.warning {
	background-color: #F60;
}

.caution {
	background-color: #FF6;
}

.ok {
	background-color: #6F6;
}

.bad {
	background-color: #F66;
}

.questionable {
	background-color: #66F;
}

.killed {
	background-color: #000;
	color: #FFF;
}

.undefined {
	background-color: #CCC;
	color: #333;
}

.errorOutline {
	border-color: #F00;
}

.error_blackOutline, .noneOutline, .okOutline, .killedOutline {
	border-color: #000;
}

.warningOutline {
	border-color: #F60;
}

.cautionOutline {
	border-color: #FF6;
}

.questionableOutline {
	border-color: #66F;
}

.undefinedOutline {
	border-color: #CCC;
}

.red {
	color: #900;
}

.orange {
	color: #930;
}

.yellow {
	color: #990;
}

.green {
	color: #090;
}

.blue {
	color: #009;
}

div.exception {
	background-color: #333;
	color: #F33;
	width: 80%;
	margin: 20px auto 20px auto;
	padding: 20px;
	font-weight: bold;
}

table.crate_table {
	border-collapse: collapse;
	width: 952px;
}


tr.headers, tr.footers {
	font-size: 75%;
	text-align: left;
	padding-left: 3px;
}

div.crate_table_container {
	width: 952px;
	overflow: auto;
}

table.crate_table tr.board {
	border: 2px solid #000;
	background-color: #FFF;
	font-family: monospace;
}

table.crate_table td.slot, table.crate_table td.name, table.crate_table td.data {
	padding: 1px 4px 1px 4px;
	border-right: 1px dotted #000;
}

table.crate_table td.slot {
	width: 4%;
}

table.crate_table td.name {
	width: 8%;
	border-right: 1px solid #000;
}

table.crate_table td.data {
	width: 88%
	margin: 0px;
	padding: 0px;
}

table.crate_table table {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	width: 100%;
}

table.crate_table form {
	display: inline;
}

#debug {
	width: 100%;
	height: 200px;
	background-color: white;
}

table.board_data {
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	text-align: center;
	font-family: monospace;
}

table.board_data tr.headers {
	border-bottom: 1px dotted #000;
}

table.board_data td {
	border-right: 1px solid #000;
}

table.board_data tr.occupancy_data {
	border-bottom: 1px dotted #000;
}

div.crate {
	/*width: 700px;*/
	background-color: #FFF;
	padding: 10px;
	margin: 20px auto 20px auto;
	border: 10px solid #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

button#start_stop {
	display: block;
	width: 200px;
	height: 100px;
	text-align: center;
	margin: 20px auto 20px auto;
}

button#start_stop img {
	margin-right: 10px;
}

div#countdown {
	width: 400px;
	background-color: #FFF;
	color: #000;
	text-align: center;
	margin: 5px auto 5px auto;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 2px solid #000;
}

div.titlebar {
	background-color: #000;
	color: #FFF;
	font-weight: bold;
	text-align: left;
	margin: 24px auto 0px auto;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	border-left: 2px solid #000;
	padding-left: 12px;
	padding-right: 12px;
}

div.statusbar {
	background-color: #CCC;
	color: #000;
	text-align: left;
	margin: 0px auto 0px auto;
	border-right: 2px solid #000;
	border-left: 2px solid #000;
	border-bottom: 1px solid #AAA;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 11pt;
}

fieldset.dialog {
	background-color: #EEE;
	color: #000;
	margin: 0px auto 24px auto;
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
	border-left: 2px solid #000;
	padding-left: 12px;
	padding-right: 12px;
	font-size: 10pt;
}

br.clear {
	height: 0px;
	clear: both;
}

div.titletext {
}

div.timetext {
	float: left;
	margin-left: 12px;
}

img.loadicon {
	float: right;
	height: 16px;
	width: 16px;
	margin-right: 3px;
	margin-left: 6px;
	vertical-align: middle;
}

div.loadtime {
	float: right;
	font-family: monospace;
	vertical-align: middle;
	margin-right: 12px;
	margin-left: 3px;
	font-size: 11pt;
}

img#statusicon {
	float: left;
	margin: 12px;
	height: 64px;
	width: 64px;
}

div.category {
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 12px;
	font-weight: bold;
}

.tier1, .tier2, .tier3, .tier4, .tier5 {
	margin-left: 24px;
	margin-right: 12px;
	margin-top: 6px;
}

.tier2 {
	margin-left: 36px;
}

.tier3 {
	margin-left: 48px;
}

.tier4 {
	margin-left: 60px;
}

.tier5 {
	margin-left: 72px;
}

table.noborder {
	border-width: 0px;
	border-collapse: collapse;
}

table.dialog {
	margin-bottom: 12px;
}

table.dialog td {
	padding-right: 12px;
}

div.description {
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 12px;
}

button.button {
	margin: 6px;
	margin-top: 24px;
}

button.left {
	float: left;
}

button.right {
	float: right;
}

img.icon {
	height: 22px;
	width: 22px;
	margin-right: 3px;
	vertical-align: middle;
}

#FED_System_Status_titlebar,
#FED_System_Status_statusbar,
#FED_System_Status_dialog,
#FED_Communicator_Status_titlebar,
#FED_Communicator_Status_statusbar,
#FED_Communicator_Status_dialog,
#FED_Communicator_Configuration_titlebar,
#FED_Communicator_Configuration_statusbar,
#FED_Communicator_Configuration_dialog {
	width: 600px;
}

.monitor {
	width: 1000px;
}

#halt_button {
	margin-left: 12px;
}

#enable_button {
	margin-right: 12px;
}

td.spacer {
	height: 3px;
}

