<?xml version="1.0" encoding="UTF-8"?>
<xc:Partition
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
		xmlns:xc="http://xdaq.web.cern.ch/xdaq/xsd/2004/XMLConfiguration-30">
	<xc:Context url="http://localhost:40000">
		<xc:Application class="Executive" id="0" network="local" resident="true">                       
			<properties xmlns="urn:xdaq-application:Executive" xsi:type="soapenc:Struct">
				<logUrl xsi:type="xsd:string">file:/home/ichiro/work/emu/cscsv/xdaq.log</logUrl>
			</properties>
		</xc:Application> 

		<xc:Application class="CSCSupervisor" id="40" instance="0" network="local">
			<properties xmlns="urn:xdaq-application:CSCSupervisor" xsi:type="soapenc:Struct">
				<configKeys soapenc:arrayType="xsd:ur-type[4]" xsi:type="soapenc:Array">
					<item soapenc:position="[0]" xsi:type="xsd:string">Global</item>
					<item soapenc:position="[1]" xsi:type="xsd:string">Local</item>
					<item soapenc:position="[2]" xsi:type="xsd:string">Calib</item>
					<item soapenc:position="[3]" xsi:type="xsd:string">Standalone</item>
				</configKeys>
				<configModes soapenc:arrayType="xsd:ur-type[4]" xsi:type="soapenc:Array">
					<item soapenc:position="[0]" xsi:type="xsd:string">global</item>
					<item soapenc:position="[1]" xsi:type="xsd:string">local</item>
					<item soapenc:position="[2]" xsi:type="xsd:string">calib</item>
					<item soapenc:position="[3]" xsi:type="xsd:string">local</item>
				</configModes>
				<modesForPC soapenc:arrayType="xsd:ur-type[3]" xsi:type="soapenc:Array">
					<item soapenc:position="[0]" xsi:type="xsd:string">global</item>
					<item soapenc:position="[1]" xsi:type="xsd:string">local</item>
					<item soapenc:position="[2]" xsi:type="xsd:string">calib</item>
				</modesForPC>
				<filesForPC soapenc:arrayType="xsd:ur-type[3]" xsi:type="soapenc:Array">
					<item soapenc:position="[0]" xsi:type="xsd:string">
						http://cms.cern.ch:8080/config/EmuPC/global.xml
					</item>
					<item soapenc:position="[1]" xsi:type="xsd:string">
						file:///config/EmuPC/local.xml
					</item>
					<item soapenc:position="[2]" xsi:type="xsd:string">
						file:///config/EmuPC/calib.xml
					</item>
				</filesForPC>
				<modesForFC soapenc:arrayType="xsd:ur-type[3]" xsi:type="soapenc:Array">
					<item soapenc:position="[0]" xsi:type="xsd:string">global</item>
					<item soapenc:position="[1]" xsi:type="xsd:string">local</item>
					<item soapenc:position="[2]" xsi:type="xsd:string">calib</item>
				</modesForFC>
				<filesForFC soapenc:arrayType="xsd:ur-type[3]" xsi:type="soapenc:Array">
					<item soapenc:position="[0]" xsi:type="xsd:string">
						http://cms.cern.ch:8080/config/EmuFED/global.xml
					</item>
					<item soapenc:position="[1]" xsi:type="xsd:string">
						file:///config/EmuFED/local.xml
					</item>
					<item soapenc:position="[2]" xsi:type="xsd:string">
						file:///config/EmuFED/calib.xml
					</item>
				</filesForFC>
			</properties>
		</xc:Application>
		<xc:Module>$XDAQ_ROOT/daq/lib/linux/x86/libCSCSupervisor.so</xc:Module>
	</xc:Context>

	<xc:Context url="http://localhost:40001">
		<xc:Application class="Executive" id="0" network="local" resident="true">                       
			<properties xmlns="urn:xdaq-application:Executive" xsi:type="soapenc:Struct">
				<logUrl xsi:type="xsd:string">file:/home/ichiro/work/emu/cscsv/xdaq.log</logUrl>
			</properties>
		</xc:Application> 

		<xc:Application class="EmuFEDCrate" id="20" instance="0" network="local"/>
		<xc:Module>$XDAQ_ROOT/daq/lib/linux/x86/libEmuFEDCrate.so</xc:Module>

		<xc:Application class="EmuPeripheralCrate" id="30" instance="0" network="local"/>
		<xc:Application class="EmuPeripheralCrate" id="31" instance="1" network="local"/>
		<xc:Module>$XDAQ_ROOT/daq/lib/linux/x86/libEmuPeripheralCrate.so</xc:Module>

		<xc:Application class="EmuDAQManager" id="80" instance="0" network="local"/>
		<xc:Module>$XDAQ_ROOT/daq/lib/linux/x86/libEmuDAQManager.so</xc:Module>

		<xc:Application class="LTCControl" id="90" instance="0" network="local"/>
		<xc:Module>$XDAQ_ROOT/daq/lib/linux/x86/libLTCControl.so</xc:Module>
	</xc:Context>
</xc:Partition>
<!-- vim: set ai sw=2 ts=2: -->
