<?xml version="1.0" encoding="UTF-8"?>
<xc:Partition
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
		xmlns:xc="http://xdaq.web.cern.ch/xdaq/xsd/2004/XMLConfiguration-30">
	<xc:Context url="http://localhost:40000">
		<xc:Application class="CSCSupervisor" id="40" instance="0" network="local">
			<properties xmlns="urn:xdaq-application:CSCSupervisor" xsi:type="soapenc:Struct">
				<configKeys soapenc:arrayType="xsd:ur-type[4]" xsi:type="soapenc:Array">
					<item soapenc:position="[0]" xsi:type="xsd:string">Monitor</item>
					<item soapenc:position="[1]" xsi:type="xsd:string">Calib_CFEB_Gains</item>
					<item soapenc:position="[2]" xsi:type="xsd:string">Calib_CFEB_CrossTalk</item>
					<item soapenc:position="[3]" xsi:type="xsd:string">Calib_CFEB_SCAPed</item>
				</configKeys>
				<pcKeys soapenc:arrayType="xsd:ur-type[2]" xsi:type="soapenc:Array">
					<item soapenc:position="[0]" xsi:type="xsd:string">default</item>
					<item soapenc:position="[1]" xsi:type="xsd:string">Calib_CFEB_SCAPed</item>
				</pcKeys>
				<pcConfigs soapenc:arrayType="xsd:ur-type[2]" xsi:type="soapenc:Array">
					<item soapenc:position="[0]" xsi:type="xsd:string">Global</item>
					<item soapenc:position="[1]" xsi:type="xsd:string">Calibration</item>
				</pcConfigs>
				<fcKeys soapenc:arrayType="xsd:ur-type[2]" xsi:type="soapenc:Array">
					<item soapenc:position="[0]" xsi:type="xsd:string">default</item>
					<item soapenc:position="[1]" xsi:type="xsd:string">Calib_CFEB_SCAPed</item>
				</fcKeys>
				<fcConfigs soapenc:arrayType="xsd:ur-type[2]" xsi:type="soapenc:Array">
					<item soapenc:position="[0]" xsi:type="xsd:string">Global</item>
					<item soapenc:position="[1]" xsi:type="xsd:string">Calibration</item>
				</fcConfigs>
			</properties>
		</xc:Application>
		<xc:Module>$XDAQ_ROOT/lib/linux/x86/libCSCSupervisor.so</xc:Module>
	</xc:Context>

	<xc:Context url="http://localhost:40001">
		<xc:Application class="EmuFCrate" id="20" instance="0" network="local"/>
		<xc:Module>$XDAQ_ROOT/lib/linux/x86/libEmuFCrate.so</xc:Module>

		<xc:Application class="EmuPeripheralCrate" id="30" instance="0" network="local"/>
		<xc:Application class="EmuPeripheralCrate" id="31" instance="1" network="local"/>
		<xc:Application class="EmuPeripheralCrateManager" id="32" instance="0" network="local"/>
		<xc:Module>$XDAQ_ROOT/lib/linux/x86/libEmuPeripheralCrate.so</xc:Module>

		<xc:Application class="TF_hyperDAQ" id="50" instance="0" network="local"/>
		<xc:Module>$XDAQ_ROOT/lib/linux/x86/libTF_hyperDAQ.so</xc:Module>

		<xc:Application class="EmuDAQManager" id="80" instance="0" network="local"/>
		<xc:Module>$XDAQ_ROOT/lib/linux/x86/libEmuDAQManager.so</xc:Module>

		<xc:Application class="LTCControl" id="90" instance="0" network="local"/>
		<xc:Module>$XDAQ_ROOT/lib/linux/x86/libLTCControl.so</xc:Module>

		<xc:Application class="TTCciControl" id="91" instance="0" network="local"/>
		<xc:Module>$XDAQ_ROOT/lib/linux/x86/libTTCciControl.so</xc:Module>
	</xc:Context>
</xc:Partition>
<!-- vim: set sw=2 ts=2: -->
