body
{
    background-color: white;
    font-family: Arial;
}

input.button
{
    color: white;
    background-color: #222288;
    border-color: #222288;
    font-family: Arial;
    font-weight: bold;
}

.app_links
{
    font-size: 14px;
    line-height: 14px;
}

table.params th
{
    color: white;
    background-color: #AAAAFF;
}
table.params th a
{
    color: white;
}

a.with_popup .popup {
    display: none;
}

a.with_popup:hover .popup{
    display: inline;
}

td.masked {
    background-color: #cccccc;
}

td.notFinished {
    font-weight: bold;
    color: #ff0000;
}
