<EmuSystem>

<!-- start of crate -->
  <FEDCrate Crate="1">

    <VME Device="0" Link="0" vmeirq_start="0" >
    </VME>

    <DDU slot="9"
       killfiber="f7fff"
       gbe_prescale="0">
    </DDU>

    <DDU slot="10"
       killfiber="f7fff"
       gbe_prescale="0">
    </DDU>

    <DDU slot="28"
       killfiber="f7fff"
       gbe_prescale="0">
    </DDU>

    <DCC slot="8" 
        fifoinuse="000" >
      <!-- later 3fe  -->
    </DCC>

 </FEDCrate>

</EmuSystem>
