<EmuSystem>

<!-- start of 1st crate -->
  <FEDCrate Crate="0">

    <VME crate="0" Device="0" Link="0">
    </VME>
    <DDU slot="3"
       gbe_prescale="1"
       vmeirq_start="0" >
    </DDU>
    <DDU slot="5"
       gbe_prescale="1"
       vmeirq_start="0" >
    </DDU>
    <DDU slot="12"
       gbe_prescale="1"
       vmeirq_start="0" >
    </DDU>
    <DCC slot="8" 
        fifoinuse="25" >
    </DCC>
 </FEDCrate>

</EmuSystem>

