<?xml version='1.0'?>
<?xml-stylesheet type="text/xsl" href="EmuDAQConfig.xsl"?>

<!-- Edit access rights in ${XDAQ_ROOT}/daq/xaccess/etc/htaccess -->

<xc:Partition
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xc="http://xdaq.web.cern.ch/xdaq/xsd/2004/XMLConfiguration-30">

  <!-- Supervisor -->
  <xc:Context url="http://emudaq:40000">
    <xc:Application class="CSCSupervisor" id="40" instance="0" network="tcp1">
      <properties xmlns="urn:xdaq-application:CSCSupervisor" xsi:type="soapenc:Struct">
        <configKeys soapenc:arrayType="xsd:ur-type[2]" xsi:type="soapenc:Array">
          <item soapenc:position="[0]" xsi:type="xsd:string">Local ME2</item>
          <item soapenc:position="[1]" xsi:type="xsd:string">Local ME3</item>
        </configKeys>
        <configModes soapenc:arrayType="xsd:ur-type[2]" xsi:type="soapenc:Array">
          <item soapenc:position="[0]" xsi:type="xsd:string">me2</item>
          <item soapenc:position="[1]" xsi:type="xsd:string">me3</item>
        </configModes>
        <modesForPC soapenc:arrayType="xsd:ur-type[2]" xsi:type="soapenc:Array">
          <item soapenc:position="[0]" xsi:type="xsd:string">me2</item>
          <item soapenc:position="[1]" xsi:type="xsd:string">me3</item>
        </modesForPC>
        <filesForPC soapenc:arrayType="xsd:ur-type[2]" xsi:type="soapenc:Array">
          <item soapenc:position="[0]" xsi:type="xsd:string">
            /home/slice/config/configWinter2005ME2.xml
          </item>
          <item soapenc:position="[1]" xsi:type="xsd:string">
            /home/slice/config/configWinter2005ME3.xml
          </item>
        </filesForPC>
        <modesForFC soapenc:arrayType="xsd:ur-type[2]" xsi:type="soapenc:Array">
          <item soapenc:position="[0]" xsi:type="xsd:string">me2</item>
          <item soapenc:position="[1]" xsi:type="xsd:string">me3</item>
        </modesForFC>
        <filesForFC soapenc:arrayType="xsd:ur-type[2]" xsi:type="soapenc:Array">
          <item soapenc:position="[0]" xsi:type="xsd:string">
            http://cms.cern.ch:8080/config/EmuFED/global.xml
          </item>
          <item soapenc:position="[1]" xsi:type="xsd:string">
            file:///config/EmuFED/local.xml
          </item>
        </filesForFC>
      </properties>
    </xc:Application>
    <xc:Module>${XDAQ_ROOT}/emu/cscSV/lib/linux/x86/libCSCSupervisor.so</xc:Module>
  </xc:Context>

  <!-- Local DAQ -->
  <xc:Context url="http://emudaq:40200">
    <xc:Application class="EmuDAQManager" id="12" instance="0" network="tcp1" />
  </xc:Context>

  <!-- LTC -->
  <xc:Context url="http://emuttc:40110">
    <xc:Application class="LTCControl" id="32" instance="0" network="tcp1" />
  </xc:Context>

  <!-- Peripheral Crate -->
  <xc:Context url="http://emupc:40010">
    <xc:Application class="EmuPeripheralCrate" id="30" instance="0" network="tcp1" />
  </xc:Context>

  <!-- FED Crate -->
  <xc:Context url="http://emufed:40100">
    <xc:Application class="EmuFEDCrate" id="31" instance="0" network="tcp1" />
  </xc:Context>
  
</xc:Partition>
<!-- vim: set sw=2 ts=99: -->
