body { background-color:#222222; }

table.counts { width: 100%; }
table.counts td, th { border-width: 0px 0px 0px 0px; padding: 0px 2px 0px 2px; }
table.counts th { color:#aaaaaa; background-color:#333333; }
table.counts td { text-align: right; color: #888888; }
table.counts a:link,a:active,a:visited { color:#888888; }
table.counts a:hover { color:#888888; font-weight:bold; cursor:default; }

table.palette { width: 100%; }
table.palette td { width: 7%; font-weight: bold; font-size: large; color:#555555; }

table.controls { width: 100%; height: 100%; color:#222222; }
table.controls input { background-color:#222222; color:#888888; }
table.controls th { height: 100%; color:#222222; background-color:#aaaaaa; padding: 0px 2px 0px 2px; }
table.controls td { height: 100%; color:#aaaaaa; background-color:#444444; padding: 0px 2px 0px 2px; text-align: center; }
//table.controls select{ background-color:#222222; color:#888888; }
table.controls select{ background-color:#aaaaaa; color:#222222; }

table.mapping td { border-width: 0px 0px 0px 0px; padding: 0px 2px 0px 2px; color:#99BBFF; font-size:small; }
table.mapping th { border-width: 0px 0px 0px 0px; padding: 0px 2px 0px 2px; color:#99BBFF; font-size:small; }
table.mapping { background-color: #2A3B90; }
table.mapping td.RUI,td.DCC,td.PC { background-color: #334499; }
table.mapping td.chamber,td.DDU,td.fiber { background-color: #223388; }
table.mapping th.RUI,th.DCC,th.PC { background-color: #112277; }
table.mapping th.chamber,th.DDU,th.fiber { background-color: #001177; }
table.mapping td {  text-align:center; }

div.tooltip { position:absolute; z-index:100; visibility:hidden; padding: 2px 2px 2px 2px; background-color:#dddddd; }
