
div.title {
	width: 80%; 
	margin: 20px auto 20px auto; 
	text-align: center; 
	color: #000; 
	font-size: 16pt; 
	font-weight: bold;
}

div.expert {
	width: 80%; 
	margin: 2px auto 2px auto; 
	text-align: center;
}

fieldset.header {
	width: 95%; 
	margin: 5px auto 5px auto; 
	padding: 2px 2px 2px 2px; 
	border: 2px solid #555; 
	background-color: #FFF;
}

fieldset.footer {
	width: 95%; 
	margin: 20px auto 5px auto; 
	padding: 2px 2px 2px 2px; 
	font-size: 9pt; 
	font-style: italic; 
	border: 0px solid #555; 
	text-align: center;
}

fieldset.fieldset, fieldset.normal, fieldset.expert {
	width: 90%; 
	margin: 10px auto 10px auto; 
	padding: 2px 2px 2px 2px; 
	border: 2px solid #555; 
	background-color: #FFF;
}

fieldset.expert {
	background-color: #CCC; 
	border: dashed 2px #C00; 
	clear: both;
}

div.legend {
	width: 100%; 
	padding-left: 20px; 
	margin-bottom: 10px; 
	color: #00D; 
	font-size: 12pt; 
	font-weight: bold;
}

.openclose {
	border: 1px solid #000; 
	padding: 0px; 
	cursor: pointer; 
	font-family: monospace; 
	color: #000; 
	background-color: #FFF;
}

table.data {
	border-width: 0px; 
	border-collapse: collapse; 
	margin: 5px auto 5px auto; 
	font-size: 9pt;
}

table.data td {
	padding: 1px 8px 1px 8px;
}

.Halted, .Enabled, .Disabled, .Configured, .Failed, .unknown {
	padding: 2px; 
	background-color: #000; 
	font-family: monospace;
}

.Halted {
	color: #F99;
}

.Enabled {
	color: #9F9;
}

.Disabled {
	color: #FF9;
}

.Configured {
	color: #99F;
}

.Failed, .unknown {
	color: #F99; 
	font-weight: bold; 
	text-decoration: blink;
}

.error {
	padding: 2px; 
	background-color: #000; 
	color: #F00; 
	font-family: monospace;
}

.warning {
	padding: 2px; 
	background-color: #F60; 
	color: #000; 
	font-family: monospace;
}

.orange {
	padding: 2px; 
	color: #930; 
	font-family: monospace;
}

.caution {
	padding: 2px; 
	background-color: #FF6; 
	color: #000; 
	font-family: monospace;
}

.yellow {
	padding: 2px; 
	color: #990; 
	font-family: monospace;
}

.ok {
	padding: 2px; 
	background-color: #6F6; 
	color: #000; 
	font-family: monospace;
	fill: #6F6;
}

.green {
	padding: 2px; 
	color: #090; 
	font-family: monospace;
}

.bad {
	padding: 2px; 
	background-color: #F66; 
	color: #000; 
	font-family: monospace;
	fill: #F66;
}

.red {
	padding: 2px; 
	color: #900; 
	font-family: monospace;
}

.questionable {
	padding: 2px; 
	background-color: #66F; 
	color: #000; 
	font-family: monospace;
}

.blue {
	padding: 2px; 
	color: #009; 
	font-family: monospace;
}

.none {
	padding: 2px; 
	font-family: monospace;
}

.killed {
	padding: 2px;
	font-family: monospace;
	color: #000;
	background-color: #FFF;
	fill: #FFF;
}

.undefined {
	padding: 2px; 
	background-color: #CCC; 
	color: #333; 
	font-family: monospace;
	fill: #CCC;
}

.button {
	padding: 2px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border: 1px solid #000; 
	cursor: pointer;
}

